body {
  font-family: sans-serif;
}

h2 {
  font-size: 2rem;
  color: #333;
}

$red-one: #ff9999;
$red-two: #ff6666;
$red-three: #ff3333;
$red-four: #ff0000;
$red-five: #cc0000;

.map {
  transition: all ease 333ms;
  &:not(.is-active) {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &.is-active {
    width: 75%;
    min-width: 375px;
    max-width: 1000px;
    margin: 0 auto;

    path {
      transition: fill ease 500ms;
      cursor: pointer;
      &:hover, 
      &.active {
        fill: lightgreen;
      }
    }
    .year-options {
      display: block !important;
      margin-bottom: 3rem;
    }
    
    .state-content {
      display: block !important;
    }
    
    .state-content.is-visible {
      display: block !important;
    }

    [data-zone="1"] {
      fill: $red-one;
    }

    [data-zone="2"] {
      fill: $red-two;
    }

    [data-zone="3"] {
      fill: $red-three;
    }

    [data-zone="4"] {
      fill: $red-four;
    }

    [data-zone="5"] {
      fill: $red-five;
    }

    [data-zone="0"] {
      fill: inherit;
    }
  }
}

.tooltip-content {
  padding: .5rem;
  span {
    display: block;
    margin-bottom: .75rem;
    line-height: 1;
  }
}

