body {
  font-family: sans-serif;
}

h2 {
  font-size: 2rem;
  color: #333;
}

*:focus {
  outline: none;
}
$red: #dd0078;
$red-one: lighten($red, 30%);
$red-two: lighten($red, 15%);
$red-three: $red;
$red-four: darken($red, 15%);
$red-five: darken($red, 30%);

.map {

    .state {
      transition: fill ease 200ms;
      cursor: pointer;
      &:hover, 
      &.active {
        fill: skyblue;
      }
    }
    
    .state-content.is-visible {
      display: block !important;
    }

    [data-heat="1"] {
      fill: $red-one;
    }

    [data-heat="2"] {
      fill: $red-two;
    }

    [data-heat="3"] {
      fill: $red-three;
    }

    [data-heat="4"] {
      fill: $red-four;
    }

    [data-heat="5"] {
      fill: $red-five;
    }

    [data-heat="0"] {
      fill: inherit;
    }
}

.tooltip-content {
  padding: .5rem;
  h4 {
    font-weight: bold;
    font-size: 1.15rem;
    margin-bottom: .25rem;
  }
  small {
    line-height: 1.25;
    display: block;
    margin-bottom: .5rem;
  }
  span {
    display: block;
    margin-bottom: .75rem;
    line-height: 1;
  }
}

